@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* VARIABLES */

/* Colours */

$clr-white: hsla(0, 0%, 98%, 1);
$clr-light-purple: hsla(268, 100%, 86%, 1);
$clr-purple-hover: hsla(268, 55%, 71%, 1);
$clr-dark-purple: hsla(268, 34%, 53%, 1);
$clr-light-blue: hsla(192, 90%, 77%, 1);
$clr-blue-hover: hsla(192, 54%, 64%, 1);
$clr-dark-blue: hsla(192, 37%, 48%, 1);
$clr-dark-grey: hsla(240, 10%, 57%, 1);
$clr-dark-grey-line: hsla(240, 10%, 57%, 0.25);
$clr-black: hsla(240, 21%, 20%, 1);

/* Breakpoints */

$breakpoint-medium: 48rem;
$breakpoint-large: 62.5rem;
$breakpoint-extra-large: 75rem;

/* RESET, GENERAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.25rem;

  @media screen and (min-width: $breakpoint-medium) {
    h3 {
      font-size: 2.5rem;
    }
  }
}

p {
  font-weight: 500;
  line-height: 1.625rem;
}

.container {
  margin-inline: auto;
  max-width: 69.375rem;
}

/* BUTTONS */

.btn {
  border: none;
  border-radius: 1.8125rem;
  color: $clr-white;
  cursor: pointer;
  font: inherit;
  font-weight: 900;
  padding: 1rem 1.8rem;
  transition: all 0.2s ease-out;

  @media screen and (min-width: $breakpoint-medium) {
    padding: 1rem 2.5rem;
  }

  &:focus {
    outline: 2px dashed $clr-dark-purple;
    outline-offset: 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px dashed $clr-dark-purple;
    outline-offset: 1px;
  }
}

.btn-purple {
  background: $clr-dark-purple;
}

.btn-purple:hover {
  background: $clr-purple-hover;
}

.btn-purple span {
  color: $clr-light-purple;
}

.btn-blue {
  background: $clr-dark-blue;
}

.btn-blue:hover {
  background: $clr-blue-hover;
}

.btn-blue span {
  color: $clr-light-blue;
}

/* DECORATIVE NUMBER */

%decorative-number {
  background: white;
  border: 1px solid $clr-dark-grey-line;
  border-radius: 50%;
  color: $clr-dark-grey;
  display: grid;
  font-weight: 900;
  place-items: center;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 5.25rem;
    top: -5.25rem;
    left: 50%;
    transform: translateX(-50%);
    background: $clr-dark-grey-line;
  }
}

/* HEADER */

header img {
  margin: 3.8rem auto;

  @media screen and (min-width: $breakpoint-medium) {
    margin: 5rem auto 3.8rem auto;
  }
}

/* HERO */

.hero {
  background: url('./images/tablet/image-hero.png');
  background-repeat: no-repeat;
  background-size: 25.9rem 9.56rem;
  background-position: top center;
  padding-top: 12rem;

  h1 {
    color: $clr-black;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    padding-inline: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 20rem;
    margin-inline: auto;
  }

  p {
    color: $clr-dark-grey;
    font-size: 1rem;
    padding-inline: 1.5rem;
    margin-bottom: 2rem;
    max-width: 33rem;
    margin-inline: auto;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .btn {
    width: fit-content;
  }

  @media screen and (min-width: $breakpoint-medium) {
    background-size: 51.3rem 18.9rem;
    padding-top: 24rem;

    h1 {
      font-size: 3rem;
      max-width: 24rem;
      line-height: 3rem;
    }

    .btn-container {
      flex-direction: row;
      justify-content: center;
    }
  }

  @media screen and (min-width: $breakpoint-extra-large) {
    background: url("./images/desktop/image-hero-left.png"), url("./images/desktop/image-hero-right.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left -2.5vw center, right -2.5vw center;
    padding-top: 6rem;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      max-width: 30rem;
    }
  }
}

/* FEATURES */

.features {
  margin-top: 18rem;
  margin-bottom: 10rem;
  padding-inline: 1.5rem;
  position: relative;

  .decorative-number {
    @extend %decorative-number;
  }

  .img-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    img {
      border-radius: 18px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  h2 {
    color: $clr-dark-blue;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.625rem;
    letter-spacing: 0.25rem;
    margin-top: 3.5rem;
    text-transform: uppercase;
  }

  h3 {
    color: $clr-black;
    margin-block: 1.5rem 2rem;
    max-width: 26rem;
    margin-inline: auto;
  }

  p {
    color: $clr-dark-grey;
    font-size: 1rem;
    max-width: 29rem;
    margin-inline: auto;
  }
}

/* FOOTER */

footer {
  position: relative;
  background: url('../images/mobile/image-footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $clr-white;
  padding: 7rem 1.5rem 6rem 1.5rem;

  &>* {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $clr-dark-blue;
    opacity: 0.875;
  }

  .decorative-number {
    @extend %decorative-number;
    top: -1.75rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    max-width: 35rem;
    margin-inline: auto;
  }

  @media screen and (min-width: $breakpoint-large) {
    .container {
      display: flex;
      align-items: flex-start;
      text-align: left;
    }

    h3,
    p {
      max-width: 21.875rem;
    }

    .btn {
      margin-top: 1rem;
    }
  }
}
